/*body {
/*	background-image: url("logo/radio.png");
	background-repeat: no-repeat;*/
/*	so that image doesnt repeat itself
	background-color:  #EB5C7D;
	color: #2B85EA;
	height: 100%;
	text-align: center;
	width: 100%;
	background-size: 100%;*/
/*}*/

/*p {
	margin-top: -20px;
	font-size: 30px;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	padding: 5px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.wrong {
	margin: 0 auto;
	width: 50%;
	text-align: center;
	border: 3px solid green;
	padding: 5px;
}


.container {
	font-size: 14px;
	justify-content: center;
	align-items: center;
	padding-bottom: 10px;
	margin-top: -40px;
}
*/
.button:hover {
  background-color: #d3d3d3;
}

/*.button {
	display: inline-block;
	border: 1px solid black;
	text-decoration: none;
	text-align: center;
	justify-content: center;
}*/

/*.show {
  display: block;
}

.hide {
  display: none;
}

.uppercase {
  text-transform: uppercase;

}


.message {
  display: none;
  padding: 20px;
  position: absolute;
  top: 110px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
/*   height: 100%; */
  /*background: darken($drk-blue, 10%);
    this line will make background color appear tho
  z-index: 12402402;
}*/
/* display none is totally remove from dom */

/* visiblity hidden is make it disappear but it still occupies a space */