body {
    background-image: url("logo/piano.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
/*    cover --> Resize the background image to cover the entire container, even if it has to stretch the image or cut a little bit off one of the edges*/
}
h1 {
    font-family: 'Josefin Slab', serif;
    font-size: 3.75em;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 0 #EF8E34;
    /*https://www.w3schools.com/cssref/playit.asp?filename=playcss_text-shadow play from here to find out how you want the text-shadow to be*/
}

h2 {
    font-family: 'Titan One', cursive, serif;
    font-size: 2.5em;
    color: #fff;
    text-shadow: 3px 3px 0 #EF8E34;
    text-align: center;
    margin-top: -25px;
    margin-right: -10px;
    /*transform: rotate(-10deg); this to make wordings slanted*/
}

h3{
    font-family: 'Bangers', cursive, serif;
    font-size: 2.5em;
    text-align: center;
    color: #248490;
}

h4 {
    font-family: 'Rancho', cursive, serif;
    font-size: 2em;
    color: #002d3c;
}

p {
    font-family: 'Gaegu', cursive, serif;
    font-size: 1.75em;
    text-align: center;
    margin-top: -55px;
}

#guessedLetters {
    color: #767F82;
}

#pressPlay {
    color: #002d3c;
    margin-top: 0;
    margin-bottom: -40px;
}

#answerWord {
    letter-spacing: .25em;
    margin-top: 0;
    color: #d0833b;
}

main {
    width: 80%;
    margin: 0 auto;
}

.container {
    display: flex;
/*    By giving it a value of flex, we’re telling the browser that everything in the box should be rendered with flexbox instead of the default box model.*/
    background-color: rgba(255, 255, 255, 0.7);
    /*this is the one that looks like transparent white above background image*/
}

.flexColumn {
    flex-direction: column;
}

.middle {
    flex: 1;
    order: 2;
    padding: 20px;
    border-left: 1px solid #777777;
    border-right: 1px solid #777777;
}

.side {
    width: 20%;
    padding: 20px;
}
.left {
    order: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.right{
    order: 3;
    overflow-wrap: break-word;
}

/*button hover*/
#hint1:hover{
	background-color: #248490;
}


  /*font-family: 'Pacifico', cursive;*/
/*background-color: #A9A49E;*/